/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-toolbar {
    background:#17a2b8 !important;
    color: #f8f9fa  !important;
}

.fill-remaining-space{
    /*This fills the remaining space, by using the flexbox.*/
    flex: 1 1 auto;
}

form.normal-form{
    margin: 10px;
    margin-top: 40px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > *{
    width: 100%;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

.button-row button{
    margin: 5px;
}
.example-form-field {
    width: 200px;
  }

/*css for notifications*/
snack-bar-container.success{
    background-color: #5cb85c;
    color: #fff;
}

snack-bar-container.warn {
    background-color: #f99157;
    color : #fff;
}

snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
}

.hide{
    display: none;
}

/*mat-table*/
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
}

.search-form-field{
    width: 25%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix{
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

/* for dialog pop-up */
.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer;
}

.confirm-dialog-container #no-button{
height: 50px;
width: 50%;
background-color: #fc7169;
color:white;
border-radius: 0px;
}

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    background-color: #b6bece;
    color:white;
    border-radius: 0px;
}

.confirm-dialog-container span.content-span{
    padding:  35px 16px;
    text-align: center;
    font-size: 20px;
}




.section-heading {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
  }
   
  .drag-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: #E9ECEF;
    padding: 15px;
    border-radius: 5px;
  }
   
  .item-list {
    min-height: 60px;
    border-radius: 4px;
    display: block;
  }
   
  .item-box {
    padding: 8px 10px;
    border: solid 1px #ccc;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 20px;
  }
   
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
   
  .cdk-drag-placeholder {
    opacity: 0;
  }
   
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
   
  .item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }



  @media screen and (min-width: 1200px) {
    .container {
        max-width: 1432px !important;
    }
  }

